{% extends "halls/base.html" %}
{% block title %}{{ hall.name }}{% endblock %}
<!-- -------------------------------- -->
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<!-- The image gallery/slider. Currently using LigtSlider -->
			<div id="hh-hall-slider">
				{% for photo in hallphotos %}
				<li class="hh-flex-center h-100"
					data-thumb="{{ photo.photo_path.url }}">
					<img class="w-100"
						data-hh-image-preview="hh-preview-content-{{ photo.id }}"
						src="{{ photo.photo_path.url }}" alt="{{ photo.photo_desc }}" />
					<!--
						Specifies the content to be shown when the image
						is being previewed by clicking on it.
					-->
					<div id="hh-preview-content-{{ photo.id }}" class="d-none">
						<a class="btn btn-sm btn-info pt-2 float-right"
							data-toggle="tooltip" data-placement="top" title="Open in new tab"
							href="{{ photo.photo_path.url }}" target="_blank">
							<i class="material-icons">open_in_new</i>
						</a>
						<p class="pt-2 pr-5">
							{{ photo.photo_desc }}
						</p>
					</div>
				</li>
				{% empty %}
				<!-- No images are available -->
				<li data-thumb="">
					<div class="card-img-top m-0 hh-no-image-placeholder">
						<h3 class="font-weight-normal hh-no-image-placeholder__content">
							No image available
						</h3>
					</div>
				</li>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6" style="display: table;">
			<h2>{{ hall.name }}</h2>
			<h5>Campus: <span class="badge badge-secondary">{{ hall.campus }}</span>
			</h5>

			<div>
				<p>{{ hall.text }}</p>
			</div>

			<p>
				Location:
				<a
                    href="{% url "map" %}#hall-{{ hall.id }}">
					Show on map
				</a>
			</p>

			<table class="table table-sm table-striped table-bordered">
				<tr>
					<td>Price (£/wk)</td>
					<td>Contract (wks)</td>
					<td>Bathroom/Basin</td>
					<td>Catering</td>
					<td>Bedsize</td>
					<td>Accessible</td>
				</tr>
				{% for room in roomtypes %}
				<tr>
					<td>{{ room.formatted_price }}</td>
					<td>{{ room.contract_length }}</td>

					{% if room.ensuite %}
					<td>Ensuite</td>
					{% elif room.basin %}
					<td>Basin</td>
					{% else %}
					<td>Neither</td>
					{% endif %}


					{% if room.catered %}
					<td><i class="material-icons align-text-bottom">check</i></td>
					{% else %}
					<td><i class="material-icons align-text-bottom">close</i></td>
					{% endif %}

					<td>{{ room.bedsize }}</td>

					{% if room.accessible %}
					<td><i class="material-icons align-text-bottom">check</i></td>
					{% else %}
					<td><i class="material-icons align-text-bottom">close</i></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<div class="container px-0">
	<!-- add button when made submission form -->
	<div>
		<span class="h1">FAQ</span>
	</div>

	<!-- Include the list of reviews. -->
	{% include 'FAQ/faq_form.html' %}
</div>


<div class="container px-0">
	<div>
		<span class="h1">Reviews</span>
		<a href="{% url 'review-write' hall.id %}"
			class="btn btn-primary btn-lg float-right" role="button">
			Write a Review
		</a>
	</div>

	<!-- Include the list of reviews. -->
	{% include 'reviews/reviews.html' %}
</div>

{% endblock content %}
<!-- -------------------------------- -->
