{% extends "halls/base.html" %}
{% block title %}{{ hall.name }}{% endblock %}
<!-- -------------------------------- -->
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<!-- The image gallery/slider. Currently using LigtSlider -->
			<div id="hh-hall-slider">
				{% for photo in hallphotos %}
				<li class="hh-flex-center h-100"
					data-thumb="{{ photo.thumbnail_url }}">
					<img class="w-100 hh-image-supports-preview"
						src="{{ photo.photo_path.url }}" alt="{{ photo.photo_desc }}" />
				</li>
				{% empty %}
				<!-- No images are available -->
				<li data-thumb="">
					<div class="card-img-top m-0 hh-no-image-placeholder">
						<h3 class="font-weight-normal hh-no-image-placeholder__content">
							No image available
						</h3>
					</div>
				</li>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<h2>{{ hall.name }}</h2>
			<h5>Campus: <span class="badge badge-secondary">{{ hall.campus }}</span>
			</h5>

			<div>
				<p>{{ hall.text }}</p>
			</div>

			<p>
				Location:
				<a
					href="https://www.google.com/maps/search/?api=1&query={{ hall.latitude }},{{ hall.longitude }}">
					Show on map
				</a>
			</p>

			<table class="table table-striped table-bordered">
				<tr>
					<td>Price (£/per week)</td>
					<td>Contract Length (weeks)</td>
					<td>Ensuite/Basin/Neither</td>
					<td>Catered</td>
					<td>Bedsize</td>
				</tr>
				{% for room in roomtypes %}
				<tr>
					<td>{{ room.formatted_price }}</td>
					<td>{{ room.contract_length }}</td>

					{% if room.ensuite %}
					<td>Ensuite</td>
					{% elif room.basin %}
					<td>Basin</td>
					{% else %}
					<td>Neither</td>
					{% endif %}


					{% if room.catered %}
					<td>&#x2611</td>
					{% else %}
					<td>&#x2610</td>
					{% endif %}

					<td>{{ room.bedsize }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<div class="container">
	<h1>Reviews
		<a href="{% url 'review-write' hall.id %}"
			class="btn btn-primary btn-lg float-right" role="button">
			Write a Review
		</a>
	</h1>

	<!-- Include the list of reviews. -->
	{% include 'reviews/reviews.html' %}
</div>

<!-- The element used for previewing images -->
<div class="hh-image-preview-backdrop">
	<div class="container hh-image-preview">
		<div class="hh-image-preview__container">
			<!-- The background-image style is set by JS -->
			<div class="hh-image-preview__image"></div>
			<a class="hh-image-preview__close" role="button">×</a>
		</div>
	</div>
</div>

{% endblock content %}
<!-- -------------------------------- -->