{% extends "halls/base.html" %}
{% block title %}Hall Page{% endblock %}
<!-- -------------------------------- -->
{% block content %}
<div class="columnL">
	<h5>PICTURES HERE</h5>
</div>
<div class="columnR">
	<h2>{{ hall.name }}</h2>
	<table border="1">
		{% for room in roomtypes %}
		<tr>
			<td>{{ room.price }} ppw</td>
			<td>{{ room.contract_length }} ppw</td>
		</tr>
		{% endfor %}
	</table>
	<h5>Campus: {{ hall.campus }}</h5>
	<p>{{ hall.text }}</p>
	<p>Location: {{ hall.latitude }} x {{ hall.longitude }}</p>
</div>
{% endblock content %}
<!-- -------------------------------- -->