{% extends "halls/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="hh-hero-container hh-no-navbar-margin hh-image-cover"
    style="background-image: url('/static/halls/img/hero-bg.jpg')">
    <div class="container text-light hh-text-shadow-dark  py-5">
        <div class="mx-3 mb-5">
            <div class="display-4">
                Welcome to <b>HonestHalls</b>!
            </div>
            <div class="h1 font-weight-light my-3">
                Find the right accommodation for <b><u>you</u></b>!
            </div>
        </div>
        <div class="row py-3 hh-bg-translucent-darker rounded mx-auto">
            <div class="col-md-6">
                <div class="h4 font-weight-light">
                    No idea where to start? <br>
                    Try our <a class="hh-text-accent" href="{% url 'quiz' %}" data-toggle="tooltip" data-placement="bottom" title="Customized search results">
                        Intelligent Search
                    </a> tool!
                </div>
                <hr class="d-sm-none">
            </div>
            <div class="col-md-6">
                <div class="h4 font-weight-light">
                    Know what you're looking for? <br>
                    <a class="hh-text-accent" href="{% url 'filter-page' %}" data-toggle="tooltip" data-placement="bottom" title="Search out database of halls">
                        Browse
                    </a> our large catalog of halls.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="mx-3 mb-3">
        <div class="h1 mb-3">
            Meet our halls
        </div>
        <div class="row">
            <!-- Lists sample halls -->
            {% for hall in sample_halls %}
            <div class="col-md-6 col-lg-4">
                <div class="hh-hall-card card mb-3">
                    {% if hall.main_photo %}
                    <a href="{% url 'hallpage' hall.id %}" class="card-link">
                        <img class="card-img-top" src="{{ hall.main_photo.thumbnail_url }}"
                            alt="{{ hall.main_photo.photo_desc }}" />
                    </a>
                    {% else %}
                    <!-- There are no images for this hall -->
                    <div class="card-img-top h6 m-0 hh-no-image-placeholder">
                        <h6 class="font-weight-normal hh-no-image-placeholder__content">
                            No image available
                        </h6>
                    </div>
                    {% endif %}
                    <div class="card-body position-relative">
                        <h5 class="card-title">
                            <a href="{% url 'hallpage' hall.id %}" class="card-link stretched-link font-bold text-primary">
                                {{ hall.name }}
                            </a>
                            <span class="badge badge-secondary">
                                {{ hall.campus }}
                            </span>
                        </h5>
                        <p class="card-text hh-min-two-lines">{{ hall.text|truncatechars:52 }}</p>
                    </div>
                    {% if hall.average_rating|stringformat:".2f" != "0.00" %}
                    <div data-toggle="tooltip" data-placement="top" title="Overall rating is {{ hall.average_rating|stringformat:".2f" }}" class="hh-hall-card-footer card-footer text-center">
                        <input type="number" class="hh-rating-input" value="{{ hall.average_rating }}" readonly>
                    </div>
                    {% else %}
                    <div class="hh-hall-card-footer card-footer text-center">
                        <a href="{% url 'review-write' hall.id %}" class="btn btn-outline-primary" role="button"
                         data-toggle="tooltip" data-placement="top" title="Leave the first review?">
                            Write a Review
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <h3>No halls in database!</h3>
            {% endfor %}
            <span class="mx-3 small text-muted">
                This selection updates every 5 minutes
            </span>
        </div>
    </div>
</div>
<div class="hh-hero-container hh-image-cover" style="background-image: url('/static/halls/img/hero-bg-2.jpg')">

</div>
</div>

{% endblock content %}
