[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
django = "==3.0.3"
pillow = "==7.0.0"
six = "==1.14.0"
django-crispy-forms = "==1.9.0"
django-formtools = "==2.2"

[requires]
python_version = "3"
