{% extends "halls/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'halls/css/main.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
</script>
{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <input type="text" name="search" id="search" placeholder="Search..">
  <button class="searchbtn" type="submit"><i class="fa fa-search">Search</i></button>
</form>


<form method="POST">
  {% csrf_token %}

  <div>
    <div class="row">
      <div class="col-md-3">
        {{ form | crispy }}
        Price range:From<input type="text" name="price1" placeholder="Min price" maxlength="10">to<input type="text"
          name="price2" placeholder="Max price" maxlength="10">
        <button type="submit">Submit</button>
      </div>

      <div class="col-md-9">
        <!-- Loop through the halls data and display the
          ones that satisfy the filters -->
        {% for hall in results_halls %}
        <div>
          {{ hall.name }}
        </div>

        {% for room in results_rooms %}
        {% if room.hall.id == hall.id %}
        <div> - Room {{ room.id }}</div>
        <!-- TODO : FORMAT HALLS/ROOM INFORMATION-->
        {% endif %}
        {% endfor %}

        {% empty %}
        <h5>No halls fit criteria.</h5>
        {% endfor %}
      </div>
    </div>
  </div>


</form>
</br>
{% endblock content %}