<div class="bg-light">
    <div class="container row py-5 mx-auto">
        <div class="col-sm-6 text-muted">
            <div class="h3">
                HonestHalls
            </div>
            <div>
                © 2019-2020 All rights reserved
            </div>
        </div>
        <div class="col-sm-6">
            <div><a href="{% url 'index' %}">Home</a></div>
            <div><a href="{% url 'about-page' %}">About us</a></div>
            <div><a href="{% url 'profile' %}">My profile</a></div>
        </div>
    </div>
</div>