<link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <!-- Logo -->
    <a class="navbar-brand"href="{% url 'index' %}"><b class="nav-logo">HonestHalls</b></a>
    <!-- Collapsible menu -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar elements -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Regular buttons/links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Browse all halls" href="{% url 'filter-page'%}">Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Customized search results" href="{% url 'quiz' %}">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="See available halls on the city map" href="{% url 'map' %}">Map</a>
            </li>
        </ul>
        <!-- Search bar -->
        <form class="form-inline d-flex container-fluid px-0 px-lg-4 flex-row justify-content-center" method="GET" action="/filter">
            <input class="hh-search-input form-control mr-sm-2" type="text" name="searchbar" id="searchbar" placeholder="Search">
            <button class="btn btn-search px-3" type="submit">Go</button>
        </form>
        <!-- Drop down -->
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link btn dropdown-toggle text-light" href="#"
                    id="navbardrop" data-toggle="dropdown">
                    <i class="material-icons align-bottom">account_circle</i>
                    {{ user.first_name }} {{ user.last_name_initial }}
                </a>
                <div class="dropdown-menu nav-dropdown">
                    <a class="dropdown-item"
                        href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item"
                        href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <a class="nav-link d-flex" href="{% url 'login' %}">
                <i class="material-icons align-bottom mr-1">lock</i>
                Login
            </a>
            {% endif %}
        </ul>
    </div>

</nav>
