body {
  background: #ffffff;
	color: #333333;
	font-family: Sen, sans-serif;
}

b {
	font-weight: 700;
}

/** BEGIN Home Page **/
.hh-no-navbar-margin {
	margin-top: -16px;
}

.hh-hero-container {
	background-attachment: fixed;
}

.hh-search-input {
	flex: 1;
	max-width: 1024px;
}

.hh-hall-card {
	transition: 0.2s box-shadow ease-in-out;
}

.hh-hall-card:hover {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.hh-hall-card-footer {
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/** END Home Page **/

/** BEGIN Footer **/
main {
  min-height: calc(100vh - 308px);
}

#footer {
    /* position:relative; */
    padding-top: 50px;
    width: 100%;
    height: 50px;
}
/** END Footer **/

/** BEGIN Review **/

.hh-review:target {
	background-color: #FFEBEE !important;
}

/** END Review **/

/** BEGIN ReusableComponents **/
.hh-bg-translucent-dark {
	background-color: rgba(0, 0, 0, 0.2);
}

.hh-bg-dark {
	background-color: rgba(62, 67, 71, 1);
}

.hh-text-muted-light {
	color: rgba(255,255,255,0.67);
}

.hh-text-muted-dark {
	color: rgba(0,0,0,0.67);
}

.hh-text-accent {
	color:#1DE9B6;
}

.hh-text-accent:hover {
	color:#00BFA5;
}

.hh-bg-translucent-darker {
	background-color: rgba(0, 0, 0, 0.4);
}

.hh-text-shadow {
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.hh-text-shadow-dark {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.hh-min-two-lines {
	min-height: 3em;
}

/* Centers the items in the container */
.hh-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hh-image-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hh-aspect-4-3 {
  padding-bottom: 75%;
}

/* Creates a dummy 4:3 gray block with text */
.hh-no-image-placeholder {
	/* Effectively sets 4:3 aspect ratio for the block */
	position: relative;
	height: 0;
	padding-bottom: 75%;
	background-color: #EEEEEE;
	color: #555555;
	text-align: center;
}

/* The placeholder slider image/text for no content. */
.hh-no-image-placeholder__content {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.hh-not-allowed * {
	cursor: not-allowed;
}
/** END ReusableComponents **/

/** BEGIN RatingInput **/
.hh-rating-input {
	display: none;
}
/** END RatingInput **/

/** BEGIN ImagePreview **/
.tooltip {
	z-index: 10000001 !important;
}

/* Shows the backdrop. Fill mode is forwards. */
@keyframes hh-backdrop-appear {
	from {
		z-index: 100000;
		opacity: 0;
	}
	to {
		z-index: 100000;
		opacity: 1;
	}
}

/* Hides the backdrop. Fill mode is forwards. */
@keyframes hh-backdrop-disappear {
	from {
		z-index: 100000;
		opacity: 1;
	}
	to {
		z-index: -1;
		opacity: 0;
	}
}

/* The backdrop for the dialog */
.hh-preview-dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: -1;
	opacity: 0;
}

/* The backdrop after the preview was closed */
.hh-preview-dialog-backdrop.inactive {
	animation: hh-backdrop-disappear 0.2s 1 forwards;
}

/* The backdrop when an image is being previewed */
.hh-preview-dialog-backdrop.active {
	animation: hh-backdrop-appear 0.2s 1 forwards;
}

/* The base element for the preview */
.hh-preview-dialog-container {
	position: relative;
	width: 90vmin !important;
	top: 50%;
	transform: translate(0, -50%);
}

.hh-preview-dialog {
	margin: 0 auto;
	width: 100%;
	max-height: 80vh;
	overflow: hidden;
	overflow-y: auto;
	border-radius: 16px;
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2),
				8px 16px 32px rgba(0, 0, 0, 0.2);
}

@keyframes hh-dialog-zoom-in {
	from {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	50% {
		opacity: 1;
	}
	to {
		transform: scale(1, 1);
	}
}

.hh-preview-dialog-backdrop.active .hh-preview-dialog {
	animation: hh-dialog-zoom-in 0.5s 1;
}

/*
The previewed image itself.
Image should be set as background-image inline.
*/
.hh-preview-dialog__image {
	text-align: right;
	width: 100%;
	overflow: hidden;
	background-color: #333333;
	background-clip: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*
The content shown below the image.
*/
.hh-preview-dialog__content {
	padding: 24px;
	background-color: white;
}

/*
The button to close the preview.
*/
.hh-preview-dialog-close {
	display: inline-block;
	position: absolute;
	top: -60px;
	right: 0;
	width: 48px;
	height: 48px;
	line-height: 28px;
	font-size: 32px;
	cursor: pointer;
	user-select: none;
	padding: 8px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 32px;
	text-align: center;
}

.hh-preview-dialog-close:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.hh-preview-dialog-close:active {
	background-color: rgba(0, 0, 0, 0.6);
}

/* Previewable images have maginfying glass cursor. */
[data-hh-image-preview] {
	cursor: zoom-in;
}
/** END ImagePreview **/

/** BEGIN LightSlider **/
/* Allow the drop-shadow to be visible outside the container */
.lSSlideOuter, .lSPager.lSGallery {
	overflow: visible !important;
}

/* Border around the slides */
.lSSlideWrapper {
	border-radius: 4px;
}

/* Custom style for thumbnails */
.lSPager.lSGallery li {
	background-color: black;
	height: 64px;
	opacity: 0.8;
	border-radius: 4px !important;
	transition: 0.2s opacity ease-in-out;
}

/* Style the active thumbnail */
.lSPager.lSGallery li.active {
	opacity: 1;
}

/* Make the thumbnails cover the available space */
.lSPager.lSGallery li img {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}
/** END LightSlider **/


.searchbar input {
  border: 3px solid ;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px;
}

.searchbtn {
  background-image: url('searchicon.png');
  height: 30px;
  border-radius: 50px;
}

/** BEGIN Ratings **/

.hh-material-icon-center {
	vertical-align: text-top;
}

.hh-rating {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	user-select: none;
}

.hh-rating__star {
	vertical-align: text-bottom;
	display: inline-block;
    line-height: 0.75em;
	color: #ffc100;
	cursor: pointer;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ff9500;
}

.hh-rating:not(.readonly) .hh-rating__star:hover {
	color: #fa0;
}

.hh-rating.readonly .hh-rating__star {
	cursor: default;
}

.hh-rating__star .material-icons {
	font-size: 1.6em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.hh-rating__star .material-icons {
		font-size: 1.8em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.hh-rating__star .material-icons {
		font-size: 2em;
	}
}

.hh-rating__star :not(.hh-rating__star__bg) {
	position: relative;
	z-index: 50;
}

.hh-rating__star__bg {
	position: absolute;
	color: rgba(255, 191, 0, 0.33);
	-webkit-text-stroke-color: #ffc100;
}

.hh-rating__star.unchecked {
	color: transparent;
	-webkit-text-stroke-color: transparent;
}

.hh-rating__star.semichecked-1-4,
.hh-rating__star.semichecked-2-4,
.hh-rating__star.semichecked-3-4 {
	display: inline-block;
	overflow: hidden;
}

.hh-rating__star.semichecked-1-4 {
	width: 12px;
	margin-right: 20px;
}

.hh-rating__star.semichecked-2-4 {
	width: 16px;
	margin-right: 16px;
}

.hh-rating__star.semichecked-3-4 {
	width: 20px;
	margin-right: 12px;
}
.navbar-dark{
	background-color: rgba(62, 67, 71, 1) !important;
	margin-bottom: 16px;
}

.btn-search{
	background-color: #00796B;
	border-color: #00796B;
	color: white;
}
.btn-search:hover{
	color: white;
}
.nav-logo{
	font-size: 2rem;
}
.btn-primary{
	background-color: #00897B!important;
	border-color:#00897B!important;
}
.btn-outline-primary {
	color: #00897B!important;
	border-color:#00897B!important;
}
.btn-outline-primary:hover {
	color: white!important;
	background-color: #00897B !important;
}
.text-primary {
	color:#00897B!important;
}
a.text-primary:hover {
	color:#00695C!important;
}
.nav-dropdown {
	right: -16px;
	left: unset;
	border: 1px solid #ddd;
}
.card {
	box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}
/** END Ratings **/