{% extends "halls/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'misc/css/about.css' %}">
{% endblock %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="container">
<div class="about-us">
  <hr />
  <h1>About HonestHalls</h1>
  <hr />
  <span class="ethos-text">HonestHalls was developed by a group of seven students as our first year Computer Science project. We decided on HonestHalls for our project because, after much discussion, many of us felt the same frustrations regarding the choosing of our first year accomodation.
  <br>
  As University of Manchester students, we all agreed that the official website was severely lacking, with few pictures, inconsistent data and no reviews. Reviews found elsewhere online were often out of date by several years and of a low quality.
  <br>
  Your first year accomodation has a huge impact on your university experience, setting up friendships that will last years. And yet deciding on first year accomodation can often feel more like a gamble than a well-informed choice.
  <br>
  This is what we hope to change.
  </span>
  <hr />
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card-img-top m-0 hh-no-image-placeholder">
      <img class="img-fluid" src="/static/misc/img/collage.jpg">
    </div>
  </div>
  <div class="col-sm-6">
    <h3 class="align-centre">Meet the Team</h3>
    Ayesha<br>
    <br>Fin<br>
    <br><strong>Gabby</strong> grew up in Greater Manchester and in her spare time likes playing softball and reading.<br>
    <br>Hisham<br>
    <br><strong>Lea</strong> is from the South of France, and enjoys weightlifting and hanging out with friends.<br>
    <br>Veselin<br>
    <br>Wei<br>
  </div>
</div>
<br />
<!-- <div class="row"> -->
  <hr/>
  <h3 class="text-center"> Why HonestHalls is Special</h3>
  <hr/>
<!-- </div> -->
<div class="row">
  <div class="col-sm-4 key-features">
    <h4>User Authentication</h4>
    <p>To ensure accuracy, we verify that all users have a University
    of Manchester email before they can leave a review.</p>
  </div>
  <div class="col-sm-4 key-features">
    <h4>Intelligent Search</h4>
    <p>For students that are unfamiliar with University of Manchester halls,
      our quiz will help find the best hall for you.</p>
  </div>
  <div class="col-sm-4 key-features">
    <h4>For students, by students</h4>
    <p>As students from a variety of backgrounds, we have a unique
     insight which allows us to better help future students.</p>
  </div>
</div>
</div>
<br />
<br />
{% endblock %}