{% extends "halls/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'misc/css/about.css' %}">
{% endblock %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="about-us">
  <hr />
  <h1>About HonestHalls</h1>
  <hr />
  <h4>ehfejhfeuehjfehsfhfeh</h4>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card-img-top m-0 hh-no-image-placeholder">
      <h3 class="font-weight-normal hh-no-image-placeholder__content">
        insert w1 picture
      </h3>
    </div>
  </div>
  <div class="col-sm-6">
    <p>We are team W1!</p>
  </div>
</div>>
<div class="row">
  <div class="col-sm-4 key-features">
    <h4>User Authentication</h4>
    <p>To make sure our reviews are accurate, we verify users before they can leave a review.</p>
  </div>
  <div class="col-sm-4 key-features">
    <h4>Quiz</h4>
    <p>For students that are unfamiliar with University of Manchester halls, our quiz will help find the best hall for
      you.</p>
  </div>
  <div class="col-sm-4 key-features">
    <h4>??</h4>
  </div>
</div>>
{% endblock %}