{% load static %}
<div class="d-flex w-100 justify-content-center container-fluid">
    <div class="container row py-2 border rounded bg-white shadow-sm justify-content-center">
        <button class="accordion"><span>View Your Answers</span></button>
        
        <div class="panel card my-1 w-100">
            <div class="row container my-2 align-items-center">
                <div class="col-sm-6"><strong class="h5">How important is cleanliness for you?</strong></div>
                <div class="col-sm-6"><em class="h6 answer"></em></div>
            </div>
            <hr />
            <div class="row container my-2 align-items-center">
                <div class=" col-sm-6"><strong class="h5">How light of a sleeper are you?</strong></div>
                <div class=" col-sm-6"><em class="h6 answer"></em></div>
            </div>
            <hr />
            <div class="row container my-2 align-items-center">
                <div class=" col-sm-6"><strong class="h5">Is it important for you to have a lot of socialising opportunities around the hall?</strong></div>
                <div class=" col-sm-6"><em class="h6 answer"></em></div>
            </div>
            <hr />
            <div class="row container my-2 align-items-center">
                <div class=" col-sm-6"><strong class="h5">What kind of catering do you prefer?</strong></div>
                <div class=" col-sm-6"><em class="h6 answer"></em></div>
            </div>
            <hr />
            <div class="row container my-2 align-items-center">
                <div class=" col-sm-6"><strong class="h5">What type of bed would you prefer?</strong></div>
                <div class=" col-sm-6"><em class="h6 answer"></em></div>
            </div>
            <hr />
            <div class="row container my-2 align-items-center">
                <div class=" col-sm-6"><strong class="h5">Do you prefer an Ensuite room?</strong></div>
                <div class=" col-sm-6"><em class="h6 answer"></em></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'quiz/js/accordion.js' %}"></script>
