{% extends "halls/base.html" %}

{% block content %}
<!-- Steps form -->
<div class="card">
  <div class="card-body mb-4">

    <h2 class="text-center font-weight-bold pt-4 pb-5"><strong>Steps form
        example</strong></h2>

    <p>
      <strong>Detailed documentation and more examples you can find in our
        <a href="https://mdbootstrap.com/docs/jquery/components/stepper/"
          target="_blank">Bootstrap Stepper Docs</a>
      </strong>
    </p>

    <hr class="my-5">
    <!-- Stepper -->
    <div class="steps-form">
      <div class="steps-row setup-panel">
        <div class="steps-step">
          <a href="#step-9" type="button"
            class="btn btn-indigo btn-circle">1</a>
          <p>Step 1</p>
        </div>
        <div class="steps-step">
          <a href="#step-10" type="button" class="btn btn-default btn-circle"
            disabled="disabled">2</a>
          <p>Step 2</p>
        </div>
        <div class="steps-step">
          <a href="#step-11" type="button" class="btn btn-default btn-circle"
            disabled="disabled">3</a>
          <p>Step 3</p>
        </div>
      </div>
    </div>

    <form role="form" action="/quiz/results" method="get">

      <!-- First Step -->
      <div class="row setup-content" id="step-9">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 1</strong></h3>
          <div class="form-group md-form">
            <h3>How important is cleanliness for you?</h3>
            <div class="radio">
              <label><input type="radio" name="optradio" value=1>Very
                important</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" value=2 checked>A
                bit</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="optradio" value=3>Don't
                care</label>
            </div>
          </div>
          <button class="btn btn-indigo btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Second Step -->
      <div class="row setup-content" id="step-10">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 2</strong></h3>
          <div class="form-group md-form">
            <h3>How important is cleanliness for you?</h3>
            <div class="radio">
              <label><input type="radio" name="optradio2" value=1>Very
                important</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio2" value=2 checked>A
                bit</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="optradio2" value=3>Don't
                care</label>
            </div>
          </div>
          <button class="btn btn-indigo btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-indigo btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Third Step -->
      <div class="row setup-content" id="step-11">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 3</strong></h3>
          <button class="btn btn-indigo btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-default btn-rounded float-right"
            type="submit">Submit</button>
        </div>
      </div>

    </form>

  </div>
</div>
<!-- Steps form -->
{% endblock %}