{% extends "halls/base.html" %}
{% block content %}

<div class="container">
<!-- Steps form -->
<div class="card">
  <div class="card-body mb-4">
    <!-- Stepper -->
    <div class="steps-form">
      <div class="steps-row setup-panel">
        <div class="steps-step">
          <a href="#step-9" type="button"
            class="btn btn-primary btn-circle">1</a>
          <p>Q1</p>
        </div>
        <div class="steps-step">
          <a href="#step-10" type="button" class="btn btn-secondary btn-circle"
            disabled="disabled">2</a>
          <p>Q2</p>
        </div>
        <div class="steps-step">
          <a href="#step-11" type="button" class="btn btn-secondary btn-circle"
            disabled="disabled">3</a>
          <p>Q3</p>
        </div>
        <div class="steps-step">
          <a href="#step-12" type="button" class="btn btn-secondary btn-circle"
            disabled="disabled">4</a>
          <p>Q4</p>
        </div>
        <div class="steps-step">
          <a href="#step-13" type="button" class="btn btn-secondary btn-circle"
            disabled="disabled">5</a>
          <p>Q5</p>
        </div>
        <div class="steps-step">
          <a href="#step-14" type="button" class="btn btn-secondary btn-circle"
            disabled="disabled">6</a>
          <p>Q6</p>
        </div>
      </div>
    </div>

    <form role="form" action="/quiz/results" method="get">
      <input type="text" autofocus="autofocus" style="display:none" />
      <!-- First Step -->
      <div class="row setup-content" id="step-9">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 1</strong></h3>
          <div class="form-group md-form">
            <h3>How important is cleanliness for you?</h3>
            <input type="text" autofocus="autofocus" style="display:none" />
            <div class="radio">
              <label><input type="radio" name="first" value=1>Don't care</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="first" value=2 checked>A
                bit</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="first" value=3>Very important</label>
            </div>
          </div>
          <button class="btn btn-primary btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Second Step -->
      <div class="row setup-content" id="step-10">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 2</strong></h3>
          <div class="form-group md-form">
            <h3>How light of a sleeper are you?</h3>
            <div class="radio">
              <label><input type="radio" name="second" value=1>Not at all</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="second" value=2 checked>A
                bit</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="second" value=3>Need complete silence</label>
            </div>
          </div>
          <button class="btn btn-primary btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-primary btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Third Step -->
      <div class="row setup-content" id="step-11">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 3</strong></h3>
          <div class="form-group md-form">
            <h3>Is it important for you to have a lot of socialising opportunities around the hall?</h3>
            <div class="radio">
              <label><input type="radio" name="third" value=1>Not at all</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="third" value=2 checked>A
                bit</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="third" value=3>Very important</label>
            </div>
          </div>
          <button class="btn btn-primary btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-primary btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Fourth Step -->
      <div class="row setup-content" id="step-12">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 4</strong></h3>
          <div class="form-group md-form">
            <h3>What kind of catrering do you prefer?</h3>
            <div class="radio">
              <label><input type="radio" name="catering" value="catered">Catered</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="catering" value="self-catered" checked>Self-catered</label>
            </div>
          </div>
          <button class="btn btn-primary btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-primary btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Fifth Step -->
      <div class="row setup-content" id="step-13">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 5</strong></h3>
          <div class="form-group md-form">
            <h3>What type of bed would you prefer?</h3>
            <div class="radio">
              <label><input type="radio" name="bed" value="single">Single</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="bed" value="double" checked>Double</label>
            </div>
          </div>
          <button class="btn btn-primary btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-primary btn-rounded nextBtn float-right"
            type="button">Next</button>
        </div>
      </div>

      <!-- Sixth Step -->
      <div class="row setup-content" id="step-14">
        <div class="col-md-12">
          <h3 class="font-weight-bold pl-0 my-4"><strong>Step 6</strong></h3>
          <div class="form-group md-form">
            <h3>Do you prefer an Ensuite room?</h3>
            <div class="radio">
              <label><input type="radio" name="basin_ensuite" value="ensuite">Yes</label>
            </div>
            <div class="radio disabled">
              <label><input type="radio" name="basin_ensuite" value="basin" checked>No</label>
            </div>
          </div>
          <button class="btn btn-primary btn-rounded prevBtn float-left"
            type="button">Previous</button>
          <button class="btn btn-success btn-rounded float-right"
            type="submit">Submit</button>
        </div>
      </div>

    </form>

  </div>
</div>
</div>
<!-- Steps form -->
{% endblock %}
