{% extends "halls/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Report{% endblock %}

{% block content %}


<div class="col-8 mt-3">

  <form method="POST">
    {% csrf_token %}
    <div class="form-group">

      {{ form.title|as_crispy_field }}
      {{ form.explanation|as_crispy_field }}

      <label for="reportTitle">Report title</label>
      <label for="reportText">Tell us why you are reporting this review</label>

      <small id="reportHelp" class="form-text text-muted">
        <span id="reviewCharCount"></span> out of 2500 characters
      </small>
    </div>
    <button class="btn btn-outline-info" type="submit">
      Submit
    </button>
  </div>

{% endblock content %}
