{% load divide_filter %}
{% load int_filter %}
{% load rating_filter %}
{% load static %}
<script src="{% static 'reviews/js/main.js' %}"></script>

{% for review in reviews %}
	{% with noise=review.noise|convert_to_int %}
	{% with social=review.social_life|convert_to_int %}
	{% with facilities=review.facilities|convert_to_int %}
	{% with cleanliness=review.cleanliness|convert_to_int %}
	{% with rating=reviewratings|rating_filter:review.id %}
	{% with user_rating=userratings|user_rating_filter:review.id %}
	{% with total=noise|add:facilities|add:social|add:cleanliness %}
	{% with average=total|divide_filter %}

	<div class="container pt-3 my-3 border rounded bg-white shadow-sm">

			<div class = "row">

				<div class = "col-auto align-self-center mb-4">
						<div class = "row mb-2 ml-1" onmouseenter="up_button_enter('{{review.id}}')" onmouseleave="up_button_leave('{{review.id}}', '{{user_rating}}')">
							{% if review.user == currentuser %}
								<button class="btn btn-xs btn-secondary disabled" id="upButton{{review.id}}"disabled>
									<i class="material-icons">thumb_up</i>
								</button>
							{% elif user_rating == True %}
								<button class="btn btn-xs btn-primary" id="upButton{{review.id}}">
									<i class="material-icons">thumb_up</i>
								</button>
							{% else %}
								<button class="btn btn-xs btn-secondary" id="upButton{{review.id}}">
									<i class="material-icons">thumb_up</i>
								</button>
							{% endif %}
						</div>
						<div class = "row-xs mt-2 mb-2">
							<center><h5 class = "ml-3" id="rating{{review.id}}">{{rating}}</h5></center>
						</div>
						<div class = "row mt-2 ml-1" onmouseenter="down_button_enter('{{review.id}}')" onmouseleave="down_button_leave('{{review.id}}', '{{user_rating}}')">
							{% if review.user == currentuser %}
								<button class="btn btn-xs btn-secondary disabled" id="downButton{{review.id}}" action="#" disabled>
										<i class="material-icons">thumb_down</i>
								</button>
							{% elif user_rating == False %}
								<button class="btn btn-xs btn-danger" id="downButton{{review.id}}" action="#">
										<i class="material-icons">thumb_down</i>
								</button>
							{% else %}
								<button class="btn btn-xs btn-secondary" id="downButton{{review.id}}" href="#">
										<i class="material-icons">thumb_down</i>
								</button>
							{% endif %}
						</div>
				</div>

				<div class = "col-4">
					<table class="table table-borderless" style="max-width:350px;">
						<tbody>
							<tr>
								<td><h5>Noise:</h5></td>
								<td ><input class="hh-rating-input" value="{{review.noise}}" readonly></td>
							</tr>
							<tr>
								<td><h5>Social:</h5></td>
								<td><input class="hh-rating-input" value="{{review.social_life}}" readonly></td>
							</tr>
							<tr>
								<td><h5>Cleanliness:</h5></td>
								<td><input class="hh-rating-input" value="{{review.cleanliness}}" readonly></td>
							</tr>
							<tr>
								<td><h5>Facilities:</h5></td>
								<td><input class="hh-rating-input" value="{{review.facilities}}" readonly></td>
							</tr>
						</tbody>
					</table>
				</div>

			<div class="col-md-12 col-lg-7">
				<div class="row">
					<div class="col-sm-5 text-center text-truncate">
						{% if review.anonymous == True %}
							<h5>
								Anonymous
							<i class="material-icons align-bottom">verified_user</i>
						</h5>
						{% else %}
							<h5>
                                {{review.user.first_name}} {{review.user.last_name_initial}}
								<i class="material-icons align-bottom">verified_user</i>
							</h5>
						{% endif %}
						<p style="font-size: 12px">Date Modified: {{review.date_modified.date}}</p>
					</div>
					<div class="col-sm-4 px-0 text-center">
						<h5>Average Rating</h5>
						<input class="hh-rating-input" value="{{average}}" readonly></h5>
					</div>
					<div class="col-sm-3">
						<div class="float-right">
							{% if review.user == currentuser %}
							<a class="btn btn-xs btn-outline-primary" href="{% url 'review-edit' review.id %}"
								data-toggle="tooltip" data-placement="top" title="Edit this review">
								<i class="material-icons align-bottom">edit</i>
							</a>
							<form class="d-inline" id="delete-form" action="{% url 'review-delete' review.id %}" method="POST">
								{% csrf_token %}
								<button class="btn btn-xs btn-outline-danger" type="button" onclick="delete_review()"
									data-toggle="tooltip" data-placement="top" title="Permanently delete this review">
									<i class="material-icons align-bottom">delete</i>
								</button>
							</form>
							{% else %}
							<a class="btn btn-sm text-truncate btn-outline-danger float-right" href="{% url 'report' review.id %}">
								REPORT
								<i class="material-icons align-bottom">new_releases</i>
							</a>
							{% endif %}
						</div>
					</div>
					<p class="mt-3 ml-3 mr-3 mb-3"><i>
						"{{review.text}}"</i>
					</p>
				</div>
			</div>

		{% if reviewphotos %}
			<div class="row mt-2 border-top">
				<!-- SHOW PHOTOS FOR REVIEW- POP UP OPTION?? -->
				{% for photo in reviewphotos %}
					{% if photo.review.id == review.id %}
						<div class="col-sm-3 my-3 text-center" style="max-width: 400px;">
							<img class="border rounded"
								data-hh-image-preview="photo-desc-{{photo.id}}"
								data-hh-image-src="{{ photo.photo_url }}"
								src="{{ photo.thumbnail_url }}"
								alt="{{ photo.photo_desc }}"
								style="height: 150px; max-width: 320px;"
							/>
							<div id="photo-desc-{{photo.id}}" class="d-none">
								<h5 class="mb-3">
									{% if review.anonymous == True %}
										Anonymous
									{% else %}
										{{review.user.first_name}} {{review.user.last_name}}
									{% endif %}
									<i class="material-icons align-bottom">account_circle</i>
								</h5>
								{{ photo.photo_desc }}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}

		</div>
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}

{% empty %}
	<h5 class="text-muted ml-3 mt-2">No Reviews Found</h5>
{% endfor %}

