{% extends "halls/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container">

<h1>Change Password</h1>
<div class="content-section">
  <form method="POST" novalidate>
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update password</button>
    </div>
  </form>
</div>

</div>

{% endblock content %}
