{% extends "halls/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col">
      <h1 class="display-2">{{ user.username }}</h1>
    </div>
    <div class="col-8">

      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            Edit details
          </legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Include the list of reviews. -->
  {% include 'reviews/reviews.html' %}

</div>
{% endblock content %}